
.sidenav{
  position: fixed;
  top: 0;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  z-index: 1000;
}

.opened{
  right: 0;
  width: 70vw;
}

.closed{
  right: -100%;
  width: 0;
}

.sidenav-items{
  list-style: none;
  padding: 0;
}

.sidenav-item{
  text-align: center;
  font-size: 1.7em;
  margin: 1em auto;
  color: #162447;
  outline: none;
  cursor: pointer;
}



.close{
  position: absolute;
  top: 1em;
  right: 1.5em;
  cursor: pointer;
}

.active{
  color: #e43f5a;
}