                                            /** GENERAL **/

.background{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #1b1b2f;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background > h1{
    color: #e43f5a;
    font-size: 3em;
    margin-bottom: 2em;
}

.background h1 span{
    color: #ffffff;
}

.login-container{
    padding: 2em;
    border-radius: 1em;
    background-color: #ffffff;
    text-align: center;
    width: 40%;
}

.form-full-width{
    width: 90%;
}

button{
    margin: 2em auto;
    border: none;
    border-radius: 25px;
    background-color: #e43f5a;
    padding: 1em 3em;
    color: #ffffff;
}