
<section *ngIf="showLogin" class="background">

    <a routerLink="/" class="back">
        <img src="assets/img/pages/icons/left-arrow.svg" alt="back">
    </a>

    <span class="change-login" (click)="changeLogin()">{{showMembersLogin ? 'Go to Team login' : 'Go to Members login'}}</span>

    <div class="logo">
        <h1 class="title">MAXIMA <span>GYM</span></h1>
        <img class="image" src="{{showMembersLogin ? 'assets/img/dashboard/members.png' : 'assets/img/dashboard/team.png'}}" alt="">
    </div>

    <div class="login-container">

        <h1>LOGIN</h1>

        <form (ngSubmit)="login()" [formGroup]="loginForm">

            <mat-form-field class="form-full-width" color="accent">
                <mat-label>Email*</mat-label>
                <input type="email" matInput formControlName="email" placeholder="Ex. john@gmail.com">
            </mat-form-field>

            <br>

            <mat-form-field class="form-full-width" color="accent">
                <mat-label>Password*</mat-label>
                <input type="password" matInput formControlName="password">
            </mat-form-field>

            <br>

            <span>{{errorMsg}}</span>

            <br>

            <button type="submit">
                LOGIN
            </button>

        </form>

    </div>

</section>