
<section *ngIf="showLogin" class="background">

    <a routerLink="/" class="back">
        <img src="assets/img/pages/icons/left-arrow.svg" alt="back">
    </a>

    <h1>MAXIMA <span>GYM</span></h1>

    <div class="login-container">

        <h1>LOGIN</h1>

        <form (ngSubmit)="login()" [formGroup]="loginForm">

            <mat-form-field class="form-full-width" color="accent">
                <mat-label>Email*</mat-label>
                <input type="email" matInput formControlName="email" placeholder="Ex. john@gmail.com">
            </mat-form-field>

            <br>

            <mat-form-field class="form-full-width" color="accent">
                <mat-label>Password*</mat-label>
                <input type="password" matInput formControlName="password">
            </mat-form-field>

            <br>

            <span>{{errorMsg}}</span>

            <br>

            <button type="submit">
                LOGIN
            </button>

        </form>

    </div>

</section>