
<section class="background">

    <h1>MAXIMA <span>GYM</span></h1>

    <div class="login-container">

        <h1>LOGIN</h1>

        <form (ngSubmit)="login()" [formGroup]="loginForm">

            <mat-form-field class="form-full-width" color="accent">
                <mat-label>Email*</mat-label>
                <input matInput formControlName="email" placeholder="Ex. ">
            </mat-form-field>

            <br>

            <mat-form-field class="form-full-width" color="accent">
                <mat-label>Password*</mat-label>
                <input matInput formControlName="password">
            </mat-form-field>

            <br>

            <button type="submit">
                LOGIN
            </button>

        </form>

    </div>

</section>