
<section class="dashboard-content container-fluid row">

    <div routerLink="requests" class="card col-lg-3 col-md-3 col-sm-5">
        <div class="card-img">
          <div class="card-img-inner">
            <img class="filter-red" src="assets/img/user.svg" alt="">
          </div>
        </div>

        <div class="card-description">
          <h1>INFO REQUESTS</h1>
        </div>

      </div>

      <div routerLink="newClient" class="card col-lg-3 col-md-3 col-sm-5">
        <div class="card-img">
          <div class="card-img-inner">
            <img class="filter-red" src="assets/img/user.svg" alt="">
          </div>
        </div>

        <div class="card-description">
          <h1>NEW CLIENT</h1>
        </div>

      </div>

      <div routerLink="updateClient" class="card col-lg-3 col-md-3 col-sm-5">
        <div class="card-img">
          <div class="card-img-inner">
            <img class="filter-red" src="assets/img/user.svg" alt="">
          </div>
        </div>

        <div class="card-description">
          <h1>UPDATE CLIENTS</h1>
        </div>

      </div>


</section>