                                            /** GENERAL **/

.deg-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10000;
}

.deg-background .info-video{
    position: absolute;
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.deg-background .info-video iframe{
    width: 100%;
    height: 100%;
}

.deg-background .close{
    position: fixed;
    top: 2em;
    right: 2em;
    cursor: pointer;
    color: #ffffff;
}


                                            /** MEDIUM DEVICES **/

@media (max-width:992px){

    .deg-background .info-video{
        width: 90%;
        height: 60%;
    }

}


                                            /** SMALL DEVICES **/

@media (max-width:768px){

    .deg-background .info-video{
        width: 90%;
        height: 40%;
    }

}