
<!-- ACTIVITIES SECTION -->

<section class="activities container-fluid">

    <h1>ACTIVITIES</h1>

    <mat-tab-group class="activities-tab" mat-align-tabs="center">

        <mat-tab *ngFor="let activity of activities" [label]="activity.title">

            <div class="activity-container row">
                <div class="activity-background col-lg-5 col-md-12 col-sm-12">

                    <div class="activity-img">
                        <img [src]="activity.img" alt="">
                    </div>

                </div>
                <div class="activity-description col-lg-7 col-md-12 col-sm-12">
            
                    <h1>{{activity.title}}</h1>
            
                    <p>{{activity.p1}}</p>
                    <p>{{activity.p2}}</p>
                    <p>{{activity.p3}}</p>
                    <p>{{activity.p4}}</p>
                
                </div>
            </div>

        </mat-tab>

    </mat-tab-group>

</section>

<!-- SCHEDULE SECTION -->

<section class="schedule container-fluid">

    <h1>SCHEDULES</h1>

    <div class="table-responsive">

        <table class="table">
            <thead>
                <tr>
                    <th>HOUR</th>
                    <th>MONDAY</th>
                    <th>TUESDAY</th>
                    <th>WEDNESDAY</th>
                    <th>THURSDAY</th>
                    <th>FRIDAY</th>
                    <th>SATURDAY</th>
                    <th>SUNDAY</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of schedule">
                    <th>{{item.hour}}</th>

                    <td class="bg-pink">{{item.mo}}</td>
                    <td class="bg-blue">{{item.tu}}</td>
                    <td class="bg-pink">{{item.we}}</td>
                    <td class="bg-blue">{{item.th}}</td>
                    <td class="bg-pink">{{item.fr}}</td>
                    <td class="bg-blue">{{item.sa}}</td>
                    <td class="bg-pink">{{item.su}}</td>
                    
                </tr>
            </tbody>
        </table>

    </div>
    
    <span>*Schedule subject to change</span>

</section>