                                            /** GENERAL **/


.page-content{
    width: 100%;
    padding: 5em;
}

.page-content h1{
    margin-bottom: 2em;
}

.page-content .list-group .list-group-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-content .list-group .list-group-item .item-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.page-content .list-group .list-group-item .item-info button{
    margin: 0 0.5em;
    outline: none;
}

.page-content .list-group .list-group-item .item-info span{
    margin-right: 1em;
}

/** EXPLORE **/

.explore{
    text-align: center;
    margin-top: 4em;
}

.explore h1{
    text-align: left;
}

.search{
    display: flex;
    justify-content: center;
}


.search .filter-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
}

.search .filter-icon img{
    width: 30%;
    filter: invert(38%) sepia(82%) saturate(2706%) hue-rotate(326deg) brightness(91%) contrast(95%);
}

.search .filter-options{
    box-shadow:0px 4px 10px -2px black;
    padding-top: 1em;
}

.search .filter-options .form-field{
    margin-left: 1em;
    margin-right: 1em;
}

.search .filter-options .filter-button{
    margin-bottom: 1em;
    border: none;
    background-color: #e43f5a;
    padding: 0.5em 3em;
    color: #ffffff;
    outline: none;
}



                                        /** SMALL DEVICES **/

@media (max-width: 768px){

    .page-content .list-group .list-group-item{
        flex-direction: column;
        text-align: center;
    }

    .page-content .list-group .list-group-item .item-info{
        flex-direction: column;
    }

    .page-content .list-group .list-group-item .item-info button{
        margin: 0.5em auto;
    }

    .page-content .list-group .list-group-item .item-info span{
        margin-right: 0;
    }

}