                                            /** GENERAL **/


.select-content{
    width: 100%;
    padding: 5em;
    margin: 0;
}

.select-content h1{
    margin-bottom: 2em;
}

.select-content .list-group .list-group-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-content .list-group .list-group-item .category{
    width: 20%;
}

.select-content .list-group .list-group-item .title{
    text-align: left;
}


.select-content .list-group .list-group-item .buttons button{
    margin: 0 0.5em;
    outline: none;
}

.page-content .list-group .list-group-item .item-info span{
    margin-right: 1em;
}



                                        /** SMALL DEVICES **/

@media (max-width: 768px){

    .select-content{
        padding: 3em;
    }

    .select-content .list-group .list-group-item{
        flex-direction: column;
        text-align: center;
    }

    .select-content .list-group .list-group-item .buttons button{
        margin: 0.5em;
    }



}