                                            /** GENERAL **/


.select-content{
    width: 100%;
    padding: 5em;
    margin: 0;
}

.select-content h1{
    margin-bottom: 2em;
}

.select-content .list-group .list-group-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-content .list-group .list-group-item .item-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.select-content .list-group .list-group-item .item-info button{
    margin: 0 0.5em;
    outline: none;
}

.page-content .list-group .list-group-item .item-info span{
    margin-right: 1em;
}



                                        /** SMALL DEVICES **/

@media (max-width: 768px){

    .select-content{
        padding: 3em;
    }

    .select-content .list-group .list-group-item{
        flex-direction: column;
        text-align: center;
    }

    .select-content .list-group .list-group-item .item-info{
        flex-direction: column;
    }

    .select-content .list-group .list-group-item .item-info span{
        display: block;
    }

    .select-content .list-group .list-group-item .item-info button{
        float: left;
    }



}