

.dashboard-menu{
    position: relative;
    width: 100%;
    background-color: #1b1b2f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.dashboard-menu ul{
    display: flex;
    color: #ffffff;
    list-style: none;
    text-align: center;

    margin: 0 auto;
}

.dashboard-menu ul li{
    cursor: pointer;
    padding: 1em 3em;
}

.dashboard-menu ul li:hover{
    color: #e43f5a;
    transition: 0.4s;
}