                                        /** GENERAL **/

.dashboard-menu{
    position: relative;
    width: 100%;
    background-color: #1b1b2f;
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

.dashboard-menu li{
    cursor: pointer;
    color: #ffffff;
    margin: 1em auto;
}

.dashboard-menu li:hover{
    color: #e43f5a;
    transition: 0.4s;
}


                                        /** SMALL DEVICES **/

@media(max-width: 768px){

    .dashboard-menu li{
        margin: 1em auto;
    }
}