
<div class="news container animate__animated animate__fadeIn">

    <h1>LATEST NEWS</h1>

    <div class="news-grid row">

        <div class="grid-article grid-top col-lg-8 col-md-8 col-sm-12">
            <img [src]="news[0].img" alt="">
            <div class="content">
                <h3>{{news[0].title | uppercase}}</h3>
            </div>
        </div>

        <div class="grid-article grid-top col-lg-4 col-md-4 col-sm-12">
            <img [src]="news[1].img" alt="">
            <div class="content">
                <h3>{{news[1].title | uppercase}}</h3>
            </div>
        </div>

        <div class="grid-article grid-bottom col-lg-3 col-md-3 col-sm-12">
            <img [src]="news[2].img" alt="">
            <div class="content">
                <h3>{{news[2].title | uppercase}}</h3>
            </div>
        </div>

        <div class="grid-article grid-bottom col-lg-3 col-md-3 col-sm-12">
            <img [src]="news[2].img" alt="">
            <div class="content">
                <h3>{{news[2].title | uppercase}}</h3>
            </div>
        </div>

        <div class="grid-article grid-bottom col-lg-3 col-md-3 col-sm-12">
            <img [src]="news[2].img" alt="">
            <div class="content">
                <h3>{{news[2].title | uppercase}}</h3>
            </div>
        </div>

        <div class="grid-article grid-bottom col-lg-3 col-md-3 col-sm-12">
            <img [src]="news[2].img" alt="">
            <div class="content">
                <h3>{{news[2].title | uppercase}}</h3>
            </div>
        </div>

    </div>

    <div class="all-news">

        <h1 class="text-left">EXPLORE</h1>

        <mat-form-field class="example-full-width">
            <mat-label>Search article</mat-label>
            <input matInput>
        </mat-form-field>

        <div class="news-container row">

            <div class="news-card col-lg-3 col-md-3 col-sm-12">
                <div class="news-card-img">
                    <img [src]="news[2].img" alt="">
                </div>
                <div class="news-card-text">
                    <h3>Lorem</h3>
                </div>
            </div>

            <div class="news-card col-lg-3 col-md-3 col-sm-12">
                <div class="news-card-img">
                    <img [src]="news[2].img" alt="">
                </div>
                <div class="news-card-text">
                    <h5>Date</h5>
                    <h3>Lorem</h3>
                </div>
            </div>

            <div class="news-card col-lg-3 col-md-3 col-sm-12">
                <div class="news-card-img">
                    <img [src]="news[2].img" alt="">
                </div>
                <div class="news-card-text">
                    <h3>Lorem</h3>
                </div>
            </div>

            <div class="news-card col-lg-3 col-md-3 col-sm-12">
                <div class="news-card-img">
                    <img [src]="news[2].img" alt="">
                </div>
                <div class="news-card-text">
                    <h3>Lorem</h3>
                </div>
            </div>

        </div>        


    </div>

</div>