

<header *ngIf="articleData" class="article-header">

    <img [src]="articleData['img'] | image">

    <div class="deg-background">

        <h1>{{articleData['title'] | uppercase}}</h1>

    </div>

</header>

<section *ngIf="articleData" class="article-body col-12 row">

    <section class="article-content col-lg-9 col-md-8 col-sm-12">

        <h1>{{articleData['title']}}</h1>
    
        <h4>{{articleData['description']}}</h4>
    
        <hr>
    
        <div class="body" [innerHTML]="articleData['body'] | dompurify">
            
        </div>



    </section>
    
    <aside class="related-news col-lg-3 col-md-4 col-sm-12">
    
        <h2>RELATED NEWS</h2>

        <div *ngFor="let article of relatedArticles"
             matRipple
             class="news-card col-12"
             (click)="goTo(article.id)">
            <div class="news-card-img">
                <img [src]="article.img" alt="">

                <div class="news-card-info">

                    <div class="news-card-date">
                            <h4>{{article.date | date: 'dd'}}</h4>
                            <h6>{{article.date | date: 'MMM' |uppercase}}</h6>
                    </div>

                    <div class="news-card-category">
                        {{article.category | uppercase}}
                    </div>

                </div>

            </div>
            <div class="news-card-text">
                <h4>{{article.title | uppercase}}</h4>
                <h6>{{article.date | date:'d/M/yy'}}</h6>
            </div>
        </div>
    
    </aside>

</section>

