
<app-dashboard-menu></app-dashboard-menu>


<section class="page-content">

    <h1>UPDATE USER</h1>


    <form *ngIf="!loading" (ngSubmit)="updateUser()" [formGroup]="updateUserForm">

        <h2>General</h2>

        <mat-form-field appearance="fill">
            <mat-label>Select a role:</mat-label>
            <mat-select formControlName="role">
              <mat-option value="admin">Admin</mat-option>
              <mat-option value="editor">Editor</mat-option>
              <mat-option value="trainer">Trainer</mat-option>
              <mat-option value="receptionist">Receptionist</mat-option>
            </mat-select>
            <mat-error *ngIf="updateUserForm.controls.role.hasError('required')">
                Please, select a role
            </mat-error>
        </mat-form-field>

        <br>

        <mat-form-field class="form-full-width" id="name" color="primary">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" placeholder="Ex. ">
            <mat-error *ngIf="updateUserForm.controls.name.hasError('required')">
                Name is required
            </mat-error>
        </mat-form-field>

        <br>

        <mat-form-field class="form-full-width" id="surname" color="primary">
            <mat-label>Surname</mat-label>
            <input matInput formControlName="surname">
            <mat-error *ngIf="updateUserForm.controls.surname.hasError('required')">
                Surname is required
            </mat-error>
        </mat-form-field>

        <br>

        <h2>Address</h2>

        <mat-form-field formGroupName="address" class="form-full-width" id="address" color="primay">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address">
            <mat-error *ngIf="updateUserForm.controls.address.get('address').hasError('required')">
                Address is required
            </mat-error>
        </mat-form-field>

        <br>

        <mat-form-field formGroupName="address" class="form-full-width" id="city" color="primary">
            <mat-label>City</mat-label>
            <input matInput formControlName="city">
            <mat-error *ngIf="updateUserForm.controls.address.get('city').hasError('required')">
                City is required
            </mat-error>
        </mat-form-field>

        <mat-form-field formGroupName="address" class="form-full-width" id="province" color="primary">
            <mat-label>Province</mat-label>
            <input matInput formControlName="province">
            <mat-error *ngIf="updateUserForm.controls.address.get('province').hasError('required')">
                Province is required
            </mat-error>
        </mat-form-field>

        <mat-form-field formGroupName="address" class="form-full-width" id="postal-code" color="primary">
            <mat-label>Postal Code</mat-label>
            <input matInput formControlName="postalCode">
            <mat-error *ngIf="updateUserForm.controls.address.get('postalCode').hasError('required')">
                Postal Code is required
            </mat-error>
        </mat-form-field>

        <br>

        <h2>Contact</h2>

        <mat-form-field formGroupName="contact" class="form-full-width" id="email" color="primary">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="updateUserForm.controls.contact.get('email').hasError('email') || updateUserForm.controls.contact.get('email').hasError('required')">
                Please enter a valid email address
            </mat-error>
        </mat-form-field>

        <mat-form-field formGroupName="contact" class="form-full-width" id="phone" color="primary">
            <mat-label>Phone</mat-label>
            <input matInput formControlName="phone">
            <mat-error *ngIf="updateUserForm.controls.contact.get('phone').hasError('required')">
                Phone is required
            </mat-error>
        </mat-form-field>

        <br>

        <div class="accept">

            <h4>Please, verify everything before clicking</h4>

            <button matRipple type="submit">
                UPDATE USER
            </button>
        </div>


    </form>


</section>

<app-pop-up></app-pop-up>