                                            /** GENERAL **/


.update-article-content{
    width: 100%;
    padding: 5em;
}

.update-article-content h1{
    margin-bottom: 2em;
}

.update-article-content form h2{
    margin-top: 2em;
}

.update-article-content form .category{
    width: 25%;
    margin: 1em;
}

.update-article-content form .image{
    width: 25%;
    margin: 1em;
}

.update-article-content form .title{
    width: 60%;
    margin: 1em;
}

.update-article-content form .description{
    width: 60%;
    margin: 1em;
}

.update-article-content form .accept{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.update-article-content form .accept button{
    margin: 2em auto;
    border: none;
    border-radius: 25px;
    background-color: #e43f5a;
    padding: 1em 3em;
    color: #ffffff;
    outline: none;
}




                                        /** SMALL DEVICES **/

@media (max-width:768px){

    .update-article-content{
        padding: 3em;
    }

    .update-article-content form .category{
        width: 100%;
        margin: 0 auto;
    }
    
    .update-article-content form .image{
        width: 100%;
        margin: 0 auto;
    }
    
    .update-article-content form .title{
        width: 100%;
        margin: 0 auto;
    }
    
    .update-article-content form .description{
        width: 100%;
        margin: 0 auto;
    }
}