

    <div *ngIf="request" class="request">

        <h1>{{request.name}} - {{request.date | date:'shortDate'}}</h1>

        <h3>{{request.phone}}</h3>

        <button matRipple (click)="openMoreInfo()" class="more-info-button">
            MORE INFO
        </button>

        <cdk-virtual-scroll-viewport #scroll [itemSize]="request.calls.length" class="calling-history">
            <li *cdkVirtualFor="let call of request.calls"
                class="call">{{call.date | date:'short'}}</li>
        </cdk-virtual-scroll-viewport>

        <button matRipple (click)="registerCall()" class="call-button">
            REGISTER CALL
        </button>

        <h3>RESPONSE</h3>

        <div class="buttons">
            <button (click)="setResponse(true)" class="yes-button" matRipple>
                YES
            </button>
            <button (click)="setResponse(false)" class="no-button" matRipple>
                NO
            </button>
        </div>
    </div>

<app-more-info *ngIf="moreInfo" (closeMoreInfo)="closeMoreInfo($event)" [request]="request"></app-more-info>