

    <div *ngIf="request" class="request">

        <h1>{{request.name}}</h1>

        <h5>{{request.date | date:'shortDate'}}</h5>

        <button matRipple class="more-info-button">
            MORE INFO
        </button>

        <cdk-virtual-scroll-viewport itemSize="5" class="calling-history">
            <li *cdkVirtualFor="let call of request.calls"
                class="call">{{call}}</li>
          </cdk-virtual-scroll-viewport>

        <button matRipple class="call-button">
            REGISTER CALL
        </button>

        <h3>RESPONSE</h3>

        <div class="buttons">
            <button (click)="setResponse(true)" class="yes-button" matRipple>
                YES
            </button>
            <button (click)="setResponse(false)" class="no-button" matRipple>
                NO
            </button>
        </div>
    </div>

    