
<!-- HEADER -->

<header class="header container-fluid">

        <img src="assets/img/header.jpg" alt="">

        <div class="header-content">
            <div class="header-text">
                <h1 class="text-white">
                    REACH THE NEXT LEVEL
                </h1>

                <h1 class="text-white">
                    BECOME MAXIMA
                </h1>
                <br>
                <button class="header-button">
                    EXPLORE
                </button>
            </div>
        </div>

</header>

<!-- INFO-GRID -->

<section class="info-grid container">

    <mat-grid-list class="info-grid-items" cols="3" rowHeight="12em">
        <mat-grid-tile class="info-grid-item"
            *ngFor="let tile of tiles"
            [colspan]="tile.cols"
            [rowspan]="tile.rows"
            [routerLink]="tile.link">
          <img class="info-grid-item-img" [src]="tile.image">
          <div class="info-item-text">
              <h2>{{tile.text}}</h2>
          </div>
        </mat-grid-tile>
    </mat-grid-list>

</section>

<!-- INFO-CARDS -->

<section class="info-cards col-12 row m-auto">

    <div class="info-card col-12"
        *ngFor="let tile of tiles"
        [routerLink]="tile.link">
        <img class="info-card-img" [src]="tile.image" alt="">
        <div class="info-item-text">
            {{tile.text}}
        </div>
    </div>

</section>

<!-- DETAILS -->

<section class="details-section container">

    <h1>A PLACE WHERE TO GROW AND REACH YOUR BEST VERSION</h1>
    
    <div class="row pt-5">
        <div class="details-img col-md-6 text-center mb-4">
            <img width="60%" src="assets/img/info-pic.png" alt="">
        </div>
        <div class="details-container col-md-6">
            <h3>Without permanence. You will stay for satisfaction and not for obligation</h3>
            <hr>
            <h3>We do not charge tuition or special fees</h3>
            <hr>
            <h3>Installations and machines checked daily</h3>
            <hr>
            <h3>Coaches at your disposal at any time</h3>
            <hr>
            <h3>Sauna and bathing area</h3>
            <hr>
        </div>
    </div>

</section>

<!-- PRICES -->

<section class="prices-section p-5 col-12">

    <h1 class="text-white text-center">¡WE HAVE YOUR PERFECT PLAN!</h1>

    <div class="row justify-content-center">
        <div class="price-card col-md-3" *ngFor="let plan of plans">
            <h2 class="text-center">{{plan.name}}</h2>
            <hr>
            <ul>
                <li *ngFor="let data of plan.data">{{data}}</li>
            </ul>
            <hr>
            <h1 class="plan-price">{{plan.price}}</h1>
            <div class="w-100 text-center">
                <img src="" alt="">
            </div>
        </div>
    </div>

    <br>

    <div class="w-100 text-center">
        <button class="button">
            MORE INFO
        </button>
    </div>
    
</section>

<section class="trainers-section container">

    <h1>OUR TRAINERS</h1>

    <div class="trainers-content row">
        <div class="trainer col-md-4 col-sm-12">
            <div class="trainer-img">
                <img src="assets/img/trainers/trainer-1.jpg" alt="">
            </div>
            <div class="trainer-description">
                <h1>Sara</h1>
                <hr>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus placeat soluta expedita sint, odio libero. Veniam, consequatur! Praesentium eum autem, ea aperiam voluptas sequi porro corporis, quos aut odit tempore eius, perferendis et delectus nulla quod! Soluta, corporis! Odio iure necessitatibus cumque voluptatem nostrum numquam commodi est unde omnis voluptates.</p>
            </div>
        </div>
        <div class="trainer col-md-4 col-sm-12">
            <div class="trainer-img">
                <img src="assets/img/trainers/trainer-2.jpg" alt="">
            </div>
            <div class="trainer-description">
                <h1>Juan</h1>
                <hr>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus placeat soluta expedita sint, odio libero. Veniam, consequatur! Praesentium eum autem, ea aperiam voluptas sequi porro corporis, quos aut odit tempore eius, perferendis et delectus nulla quod! Soluta, corporis! Odio iure necessitatibus cumque voluptatem nostrum numquam commodi est unde omnis voluptates.</p>

            </div>
        </div>
        <div class="trainer col-md-4 col-sm-12">
            <div class="trainer-img">
                <img src="assets/img/trainers/trainer-3.jpg" alt="">
            </div>
            <div class="trainer-description">
                <h1>Vero</h1>
                <hr>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus placeat soluta expedita sint, odio libero. Veniam, consequatur! Praesentium eum autem, ea aperiam voluptas sequi porro corporis, quos aut odit tempore eius, perferendis et delectus nulla quod! Soluta, corporis! Odio iure necessitatibus cumque voluptatem nostrum numquam commodi est unde omnis voluptates.</p>

            </div>
        </div>
    </div>


</section>