
<header class="header container-fluid">

        <img src="assets/img/header-pic.png" alt="">

        <div class="header-content">
            <div>
                <h1 class="text-white">
                    ALCANZA EL SIGUIENTE NIVEL, ALCANZA TU MÁXIMA VERSIÓN
                </h1>
                <br>

                <h2 class="text-white">
                    Sólo hay un camino para el triunfo
                </h2>
    
                <button class="button">
                    INSCRÍBETE
                </button>
            </div>
        
        </div>

</header>

<section class="info-section p-5">

    <h1>UN LUGAR DONDE CRECER Y ALCANZAR TU MEJOR VERSIÓN</h1>
    <div class="row pt-5">
        <div class="col-md-6 text-center mb-4">
            <img width="60%" src="assets/img/info-pic.png" alt="">
        </div>
        <div class="col-md-6">
            <h3>Sin permanencia. Te quedarás por satisfacción y no por obligación</h3>
            <hr>
            <h3>No cobramos matrícula ni tasas especiales</h3>
            <hr>
            <h3>Instalaciones y máquinas revisadas a diario</h3>
            <hr>
            <h3>Entrenadores a tu disposición en cualquier momento</h3>
            <hr>
            <h3>Sauna y zona de baño</h3>
            <hr>
        </div>
    </div>

</section>

<section class="prices-section p-5 col-12">

    <h1 class="text-white text-center">¡WE HAVE YOUR PERFECT PLAN!</h1>

    <div class="row justify-content-center">
        <div class="price-card col-md-3">
            <h2 class="text-center">GOLD</h2>
            <hr>
            <ul>
                <li>¡Sin permanencia!</li>
                <li>Acceso a todas las instalaciones</li>
                <li>Parking gratuíto</li>
                <li>Clases colectivas</li>
                <li>Sauna</li>
            </ul>
            <hr>
            <h1 class="text-center">19,90€/mes</h1>
            <div class="w-100 text-center">
                <button class="button">
                    INSCRÍBETE
                </button>
            </div>
        </div>
    
        <div class="price-card col-md-3">
            <h2 class="text-center">PLATINUM</h2>
            <hr>
            <ul>
                <li>¡Sin permanencia!</li>
                <li>Acceso a todas las instalaciones</li>
                <li>Parking gratuíto</li>
                <li>Clases colectivas</li>
                <li>Sauna</li>
            </ul>
            <hr>
            <h1 class="text-center">19,90€/mes</h1>
            <div class="w-100 text-center">
                <button class="button">
                    INSCRÍBETE
                </button>
            </div>
        </div>
    
        <div class="price-card col-md-3">
            <h2 class="text-center">TITANIUM</h2>
            <hr>
            <ul>
                <li>¡Sin permanencia!</li>
                <li>Acceso a todas las instalaciones</li>
                <li>Parking gratuíto</li>
                <li>Clases colectivas</li>
                <li>Sauna</li>
            </ul>
            <hr>
            <h1 class="text-center">19,90€/mes</h1>
            <div class="w-100 text-center">
                <button class="button">
                    INSCRÍBETE
                </button>
            </div>
        </div>
    </div>

</section>

<section class="colective-section">

    <div class="col-md-5 colective-img-container">

            <img src="assets/img/colective.jpg" alt="">


    </div>
    <div class="col-md-7 pt-5">

        <h1>CLASES COLECTIVAS</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, culpa! Ad assumenda voluptates labore, distinctio inventore eligendi maxime quo quam dolores cum doloribus atque possimus, a earum laudantium quisquam. Provident fugiat temporibus ratione enim ex voluptate, quae totam magnam obcaecati eius porro eos nesciunt reiciendis dolorem aliquid ipsa qui tempora?</p>
    
    </div>

</section>

