                                        /** GENERAL **/


/** HEADER **/

.header{
    position: relative;
    height: 120vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.header img{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: center;
}

.header .deg-background{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(32, 25, 46, 0.7);
}

.header .deg-background .header-content{
    text-align: center;
}

.header .deg-background .header-content h1{
    color: #ffffff;
}

.header .deg-background .header-content button{
    border: none;
    border-radius: 25px;
    background-color: #e43f5a;
    padding: 1em 3em;
    color: #ffffff;
    outline: none;
}


/** INFO-GRID **/

.info-grid{
    margin-top: -5em;
    width: 75%;
}

.info-grid .info-grid-items .info-grid-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.info-item-text{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: 0.5s;
    background: rgba(0, 0, 0, 0.3);
    align-items: flex-end;
    color: #ffffff;
    padding-left: 1em;
}

.info-item-text:hover{
    background: none;
    transition: 0.5s;
    background: rgba(0, 0, 0, 0.6);
    color: #e43f5a
}


/** INFO-CARDS **/

.info-cards{
    display: none;
}


/** DETAILS-SECTION **/

.details{
    margin: 4em auto;
}

.details .details-content{
    margin-top: 5em;
}

.details .details-content .details-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.details .details-content .details-img img{
    width: 60%;
}


/** PRICES-SECTION **/

.prices{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #1b1b2f;
    padding: 3em;
    text-align: center;
}

.prices h1{
    color: #ffffff;
}

.prices .price-cards{
    justify-content: center;
}

.prices .price-cards .price-card{
    position: relative;
    background-color: white;
    padding: 2em;
    margin: 1em;
    border-radius: 5px;
    padding-bottom: 5em;
}

.prices .price-cards .price-card .plan-list{
    text-align: left;
}

.prices .price-cards .price-card .plan-price{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.prices .price-cards .price-card .plan-price hr{
    width: 80%;
}

.prices .price-cards .price-card .plan-price h1{
    color: #1b1b2f;
}

.prices button{
    border: none;
    border-radius: 25px;
    background-color: #e43f5a;
    padding: 1em 3em;
    color: #ffffff;
    margin: 1em auto;
    outline: none;
}

/** TRAINERS-SECTION **/


.trainers{
    margin-top: 4em;
}

.trainers .trainer{
    padding: 2em;
}

.trainers .trainer .trainer-img{
    text-align: center;
}

.trainers .trainer .trainer-img img{
    width: 50%;
    border-radius: 50%;
}

.trainers .trainer .trainer-description{
    text-align: center;
}

.trainers .trainer .trainer-description span{
    font-style: italic;
}

.trainers .trainer .trainer-description p{
    text-align: center;
}


                                        /** MEDIUM DEVICES **/

@media (max-width: 992px) {
    

    /** DETAILS-SECTION **/

    .details .details-content .details-img img{
        width: 80%;
    }

    /** PRICES-SECTION **/

    .price-card{
        padding: 0;
        padding-top: 1.5em;
    }

    .prices .price-cards .price-card{
        padding: 1em;
        padding-top: 2em;
        padding-bottom: 5em;
    }

    .prices .price-cards .price-card .plan-list{
        list-style: none;
        padding: 0;
    }

    .prices .price-cards .price-card .plan-list li{
        margin: 1em 0;
        text-align: center;
    }

}

                                        /** SMALL DEVICES **/

@media (max-width: 764px) {


    /** HEADER **/

    .header{
        height: 100vh;
    }


    /** INFO-GRID SECTION **/

    .info-grid{
        display: none;
    }


    /** INFO-CARDS SECTION **/

    .info-cards{
        position: relative;
        display: block;
        padding-top: 1em;
        margin: auto;
    }

    .info-cards .info-card{
        height: 12em;
        width: 80%;
        overflow: hidden;
        border-radius: 10px;
        margin: auto;
        margin-bottom: 1em;
        padding: 0;
    }
    
    .info-cards .info-card .info-card-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .info-item-text{
        font-size: 1.8em;
        padding-bottom: 1em;
    }


    /** DETAILS-SECTION **/

    .details .details-content .details-img img{
        width: 50%;
    }

    .details .details-content .details-info{
        text-align: center;
    }


}
