
<!-- HEADER -->

<header class="header container-fluid">

        <img src="assets/img/pages/home/header.jpg" alt="">

        <div class="deg-background">
            <div class="header-content">
                <h1>
                    REACH THE NEXT LEVEL
                </h1>

                <h1>
                    BECOME MAXIMA
                </h1>
                <br>
                <button matRipple (click)="openInfoVideo()">
                    EXPLORE
                </button>
            </div>
        </div>

</header>

<!-- INFO-GRID -->

<section class="info-grid container">

    <mat-grid-list class="info-grid-items" cols="3" rowHeight="12em">

        <mat-grid-tile class="info-grid-item"
            *ngFor="let tile of tiles"
            [colspan]="tile.cols"
            [rowspan]="tile.rows"
            [routerLink]="tile.link">

          <img [src]="tile.image">

          <div class="info-item-text">
            <h2>{{tile.text}}</h2>
          </div>

        </mat-grid-tile>

    </mat-grid-list>

</section>

<!-- INFO-CARDS -->

<section class="info-cards col-12 row">

    <div class="info-card col-12"
        *ngFor="let tile of tiles"
        [routerLink]="tile.link">

        <img class="info-card-img" [src]="tile.image" alt="">
        
        <div class="info-item-text">
            {{tile.text}}
        </div>
    </div>

</section>

<!-- DETAILS -->

<section class="details container">

    <h1>A PLACE WHERE TO GROW AND REACH YOUR BEST VERSION</h1>
    
    <div class="details-content row">
        <div class="details-img col-md-6 text-center mb-4">
            <img width="60%" src="assets/img/pages/home/info-pic.png" alt="">
        </div>
        <div class="details-info col-md-6">
            <h3>Without permanence. You will stay for satisfaction and not for obligation</h3>
            <hr>
            <h3>We do not charge tuition or special fees</h3>
            <hr>
            <h3>Installations and machines checked daily</h3>
            <hr>
            <h3>Coaches at your disposal at any time</h3>
            <hr>
            <h3>Sauna and bathing area</h3>
            <hr>
        </div>
    </div>

</section>

<!-- PRICES -->

<section class="prices container-fluid">

    <h1>¡WE HAVE YOUR PERFECT PLAN!</h1>

    <div class="price-cards row">
        <div class="price-card col-md-3" *ngFor="let plan of plans">
            <h2>{{plan.name}}</h2>
            <hr>
            <ul class="plan-list">
                <li *ngFor="let data of plan.data">{{data}}</li>
            </ul>
            
            
            <div class="plan-price">
                <hr>
                <h1>{{plan.price}}</h1>
            </div>
        </div>
    </div>

    <button (click)="openInfoForm()" matRipple>
        MORE INFO
    </button>
    
</section>


<!-- TRAINERS -->

<section class="trainers container">

    <h1>OUR TRAINERS</h1>

    <div class="trainers-content row">
        <div class="trainer col-md-4 col-sm-12">
            <div class="trainer-img">
                <img src="assets/img/pages/home/trainers/trainer-1.jpg" alt="">
            </div>
            <div class="trainer-description">
                <h1>Sarah</h1>
                <span>"If you are not willing to risk the usual, you will have to settle for the ordinary."</span>
                <hr>
                <p>Adventurous, competitive, winner of 3 medals in the female weightlifting category. Training with her is pure adrenaline. ¿Do you want to try?</p>
            </div>
        </div>
        <div class="trainer col-md-4 col-sm-12">
            <div class="trainer-img">
                <img src="assets/img/pages/home/trainers/trainer-2.jpg" alt="">
            </div>
            <div class="trainer-description">
                <h1>Juan</h1>
                <span>"If you don’t have confidence, you’ll always find a way not to win."</span>
                <hr>
                <p>Runner, champion of Spain in rowing and diving, passionate about nature and outdoor sports. Juan is your ideal coach.</p>
            </div>
        </div>
        <div class="trainer col-md-4 col-sm-12">
            <div class="trainer-img">
                <img src="assets/img/pages/home/trainers/trainer-3.jpg" alt="">
            </div>
            <div class="trainer-description">
                <h1>Vero</h1>
                <span>"Strong people don’t put others down. They lift them up"</span>
                <hr>
                <p>Professional gymnast, master of stretching and exercises with her own weight. If you want a harmonious and balanced body, Vero is your ideal trainer.</p>
            </div>
        </div>
    </div>


</section>

<app-info-form *ngIf="infoForm" (closeInfoForm)="closeInfoForm($event)"></app-info-form>

<app-info-video *ngIf="infoVideo" (closeInfoVideo)="closeInfoVideo($event)"></app-info-video>