

<footer class="footer row">

    <div class="social-links col-12">
        <a href="https://www.instagram.com/" target="blank" class="social-link">
            <img src="assets/img/pages/icons/instagram-logo.svg" alt="">
        </a>
        <a href="https://www.facebook.com/" target="blank" class="social-link">
            <img src="assets/img/pages/icons/facebook-logo.svg" alt="">
        </a>
        <a href="https://twitter.com/" target="blank" class="social-link">
            <img src="assets/img/pages/icons/twitter-logo.svg" alt="">
        </a>
    </div>

    <div class="footer-content col-md-3">
        <mat-list>
            <mat-list-item class="footer-title">About us</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="footer-item">Contact</mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
    </div>
    <div class="footer-content col-md-3">
        <mat-list>
            <mat-list-item class="footer-title">Career</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="footer-item">Work with us</mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
    </div>
    <div class="footer-content col-md-3">
        <mat-list>
            <mat-list-item class="footer-title">MaximaGym Radio</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="footer-item">Go to station</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="footer-item">Chart</mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
    </div>

    <div class="footer-info col-12 text-center">
        ©MaximaGym - {{date | date: 'yyyy'}} | All rights reserved
    </div>



</footer>