
<app-dashboard-menu></app-dashboard-menu>

<section class="page-content">

    <h1>SELECT USER</h1>


    <mat-form-field class="input col-12" color="primary">
        <mat-label>Search by name, id, role</mat-label>
        <input #text (keyup)="search(text.value)" matInput>
    </mat-form-field>


    <ul class="list-group">
        <li *ngFor="let user of users" class="list-group-item">
            {{user.surname}}, {{user.name}}
        
            <div class="item-info">
                <span>{{user.role | uppercase}}</span>
                <button (click)="goTo(user.uid)" class="btn btn-warning">
                    UPDATE
                </button>
                <button class="btn btn-danger">
                    DELETE
                </button>
            </div>

        </li>
    </ul>

    <mat-paginator [length]="totalUsers"
                   pageSize="5"
                   (page)="handlePage($event)"
    >
    </mat-paginator>

</section>