
<app-dashboard-menu></app-dashboard-menu>

<section class="select-content">

    <h1>SELECT USER</h1>

    <form (submit)="filter()" [formGroup]="filterForm">

        <div class="search row">

            <mat-form-field class="input col-lg-9 col-md-9 col-sm-12" color="primary">
                <mat-label>Search user</mat-label>
                <input formControlName="text" matInput>
            </mat-form-field>

            <mat-form-field class="form-field col-lg-3 col-md-3 col-sm-12" appearance="fill">
                <mat-label>Role</mat-label>
                <mat-select formControlName="role" (selectionChange)="changeRole($event)">
                    <mat-option *ngFor="let role of roles" [value]="role.value">
                        {{role.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
                    
        </div>

    </form>

    <ul class="list-group">
        <li *ngFor="let user of users | paginate:5:page_number" class="list-group-item">
            {{user.surname}}, {{user.name}}
        
            <div class="item-info">
                <span>{{user.role | uppercase}}</span>

                <div class="buttons">
                    <button mat-raised-button color="primary" (click)="goTo(user.uid)">
                        UPDATE
                    </button>
                    <button mat-raised-button color="warn">
                        DELETE
                    </button>
                </div>

            </div>

        </li>
    </ul>

    <mat-paginator #paginator [length]="totalUsers"
                   pageSize="5"
                   (page)="handlePage($event)"
    >
    </mat-paginator>



</section>