<div id="carouselExampleControls" class="carousel slide" data-interval="false">

    <div class="carousel-inner">

        <div *ngFor="let facility of facilities" class="carousel-item {{facility.class}}">

          <div class="carousel-img animate__animated animate__fadeIn">
            <img class="d-block w-100" [src]=facility.img [alt]="facility.name">
            <div class="bg-trans">
                <h1 class="carousel-text">{{facility.name | uppercase}}</h1>
            </div>
          </div>

          <div class="facility-content row">
          
            <div *ngFor="let content of facility.content" class="card col-lg-3 col-md-3 col-sm-5 animate__animated animate__backInUp">
              <div class="card-img">
                <div class="card-img-inner">
                  <img class="filter-red" [src]=content.img alt="">
                </div>
              </div>

              <div class="card-description">
                <h1>{{content.title | uppercase}}</h1>
                <h3>{{content.desc}}</h3>
              </div>

            </div>

          </div>
          
        </div>

    </div>

    <a class="carousel-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <img src="assets/img/pages/icons/left-arrow.svg" alt="">
      <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-next" href="#carouselExampleControls" role="button" data-slide="next">
      <img src="assets/img/pages/icons/right-arrow.svg" alt="">
      <span class="sr-only">Next</span>
    </a>
<!--
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true">
        <img src="assets/img/pages/icons/right-arrow" alt="">
      </span>
      <span class="sr-only">Next</span>
    </a>
  -->
</div>