<nav class="navbar navbar-expand-lg d-flex bd-highlight">
    <div  class="p-2 flex-grow-1 bd-highlight">
        <a class="navbar-brand" routerLink="home">MAXIMA <span>GYM</span></a>
    </div>

    <div class="p-2 bd-highlight" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="home">HOME</a>
        <a class="nav-item nav-link" routerLink="activities">ACTIVITIES</a>
        <a class="nav-item nav-link" routerLink="facilities">FACILITIES</a>
        <a class="nav-item nav-link" routerLink="contact">CONTACT</a>
      </div>
    </div>

</nav>
