<nav class="navbar">

    <div>
        <a class="navbar-brand" routerLink="home">MAXIMA <span>GYM</span></a>
    </div>

    <ul class="navbar-menu">
        <li class="nav-item" routerLink="home" routerLinkActive="active">HOME</li>
        <li class="nav-item" routerLink="activities" routerLinkActive="active">ACTIVITIES</li>
        <li class="nav-item" routerLink="facilities" routerLinkActive="active">FACILITIES</li>
        <li class="nav-item" routerLink="news" routerLinkActive="active">NEWS</li>
        <li class="nav-item" routerLink="contact" routerLinkActive="active">CONTACT</li>
    </ul>

    <div class="menu-button" (click)="open()">
      <img src="assets/img/pngbarn.png" alt="menu">
    </div>

</nav>

<app-sidenav (closeSidenav)="close($event)" [sidenav]="sidenav"></app-sidenav>