<nav class="navbar">

    <div>
        <a class="navbar-brand" routerLink="home">MAXIMA <span>GYM</span></a>
    </div>

    <ul class="navbar-menu">
        <li class="nav-item" routerLink="home">HOME</li>
        <li class="nav-item" routerLink="activities">ACTIVITIES</li>
        <li class="nav-item" routerLink="facilities">FACILITIES</li>
        <li class="nav-item" routerLink="news">NEWS</li>
        <li class="nav-item" routerLink="contact">CONTACT</li>
    </ul>

    <div class="menu-button" (click)="setSidenav()">
      <i class="fas fa-bars"></i>
    </div>

</nav>

<app-sidenav *ngIf="sidenav"></app-sidenav>