
<header class="dashboard-header">

    <img src="assets/img/dashboard/dashboard-header.jpg" alt="">

    <div class="deg-background">

        <div class="back-icon" (click)="goBack()">
            <img src="assets/img/dashboard/icons/left-arrow.svg" alt="">
        </div>


        <h1>Hello {{user.name}}!</h1>

        <div [matMenuTriggerFor]="beforeMenu" class="user-icon">
            <img [src]="user.img | image:'users'" alt="">
        </div>

        <mat-menu class="user-menu" #beforeMenu="matMenu" xPosition="before">
            <button [routerLink]="['/dashboard', user.role === 'receptionist' ? 'reception' : user.role, 'profile']" mat-menu-item>My account</button>
            <button (click)="logout()" mat-menu-item>Logout</button>
        </mat-menu>

    </div>

</header>


<router-outlet></router-outlet>

