
<div class="deg-background"
     [class.hidden]="popUpService.hidePopUp">

    <div *ngIf="!popUpService.hidePopUp" class="info-pop-up">

        <img src="{{popUpService.message['ok'] ? 'assets/img/dashboard/icons/correct.svg': 'assets/img/dashboard/icons/error.svg'}}" alt="">
        
        <br>

        <h1>{{popUpService.message['ok'] ? 'SUCCESS' : 'ERROR'}}</h1>

        <h2>{{popUpService.message['msg']}}</h2>

        <button matRipple (click)="accept()">
            ACCEPT
        </button>
        
    </div>

</div>